@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import "variables";

* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

/* Nav Bar */

nav{
    background-color: black;
}

.navbar-dark {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
    color: white;
}

.navbar-nav{
    --bs-nav-link-hover-color: red;
}

.navbar-toggler:hover {
    color: red
}

body{
    background-color: $color-fondo;
}

.boxInicio {
    text-align: center;
    background-image: url(../img/Inicio1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    padding: 20px;
    margin: auto;
    h1{
        font-size: $tamanio-titulos;
        padding-bottom: 10px;
    }
    h2 {
        font-size: $tamanio-subtitulos;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    p{
        font-size: $tamanio-parrafos;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.boxMedia{
    color: black;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin: 75px;
        height: 350px;
        width: 350px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 20px;
        border: 2px solid rgba(255, 0, 0, 0.26);
    }
}

.boxMediaTxt{
    height: 350px;
    width: 950px;
    margin-top: 75px;
    margin-bottom: 75px;
    h3{
        font-size: 2rem;
        padding: 5px;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.25rem;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    button{
        padding: 10px;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.699);
        margin-top: 20px;
        border-radius: 15px;
        border-color: rgba(255, 0, 0, 0.26);
    }
    a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    }
}

.boxFinal {
    text-align: center;
    background-image: url(../img/Inicio3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    color: white;
}
.boxFinalTitulo h3{
    font-size: $tamanio-titulos;
    padding: 15px;
    height: 75px;
    margin: 10px;
}

.boxFinalFlex{
    display: flex;
    justify-content: center;
    font-size: $tamanio-parrafos;
    width: 100%;
    p{
        height: 150px;
        width: 300px;
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 120px;
    }
}

footer{
    text-align: center;
    background-color: $color-pie;
    padding: 5px;
    display: block;
    img{
        height: 40px;
        padding: 5px;
        margin: 5px;
    }
}

.footerTxt a{
    height: 150px;
    color: black;
    margin: 10px;
    p{
        margin: 10px;
    }
}


/* VPN.html */

.txtPrimero{
    text-align: center;
    h1, h2, h3{
        font-size: $tamanio-titulos;
        color: $color-titulos;
    }
    p{
        font-size: $tamanio-parrafos;
    }
}

.row {
    --bs-gutter-x: 0;
}

#vpntxt1 {
    margin-top: 20px;
}

.vpnsect1 {
    height: 1px;
    align-items: center;
}

#vpnimg1{
    border-radius: 25px;
    height: 350px;
    width: 80%;
    margin-top: 20px;
}

#vpnimg2{
    width: 100%;
    height: 400px;
    padding: 10px;
    border-bottom-left-radius: 100px;
}

#boxFinalVPN{
    margin-top: 30px;
}

.col-lg-8{
    width: 100%;
}

.card-title{
    color: $color-titulos;
    font-size: $tamanio-subtitulos;
}

.card-body{
    text-align: center;
}

.card-text{
    font-size: 1.5rem;
}

/* Antivirus.html */

.antivirussec{
    padding: 5%;
}

#anti{
    text-align: center;
    font-size: 1.5rem;
    h1{
        color: red;
        font-size: 2.3rem;
        margin-top: 30px;
    }
    p{
        color: white;
        margin-top: 10%;
    }
}

#imganti {
    text-align: center;
    height: 95%;
}

#antitag{
    background-color: rgba(39, 39, 39, 0.612);
    border-radius: 40px;
}

.table{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    text-align: center;
    vertical-align: middle;
}

table th{
    font-size: 1.3rem;
}

#tableimg{
    height: 30px;
}

/* SobreNosotros.html */

.card {
    margin:10px;
    background-color: rgba(156, 154, 154, 0.397) ;
}

.card-title {
	color: $color-titulos;
}

.card-text {
	margin-top:10px;
	margin-bottom: 10px;;
}

#imgcardsnosotros{
    height: 100%;
    width: 100%;
}

#btnsobrenosotros{
    margin: 10px;
}

.card.col-md-12.p-3{
    flex-shrink: 1;
}

/* soporte.html */

#soporteInicio{
    background-image: url(../img/Soporte.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    text-align: center;
    h1{
        font-size: $tamanio-titulos;
        color: $color-titulos;
    }
    p{
        font-size: $tamanio-parrafos;
        color: $color-titulos;
    }
}

#soporteInicio:before{
    content: "";
    width: 100%;
    min-height: 70vh;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left:0;
    background: linear-gradient(90deg, black, white);
    opacity: 0.5;
    z-index: -1;
}

/* Responsive */


@import "responsive";